# Force include if required

# 
*.o
*.a
*.out
bubble_steady
bubble_steady_weakly_nonlinear
bubble_unsteady

# Data files
*.dat

# Hidden files
.*

# Makefiles
Makefile
Makefile.in

# Testing files
Validation/
*.dat.gz
